<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BsLabPrint.PrinterSetting.PrtSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BsLabPrint.PrinterSetting.PrtSetting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterDpi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LabelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LabelHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintQty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarcodeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BarcodeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsLandscape" serializeAs="String">
                <value>False</value>
            </setting>
        </BsLabPrint.PrinterSetting.PrtSetting>
    </userSettings>
</configuration>